

{% block content %}
<section>
    <div class="container-fluid">
        
                            <img src="https://lovefitness.s3.eu-west-2.amazonaws.com/media/exercise_test.jpg" class="img-fluid" alt="man and woman exercising">
                            
                            <div class="cta-text">
                                <div class="overlay"></div>
                                <h5>Welcome to Love Fitness</h5>
                                <h2>Smash all your fitness goals</h2>
                                <a href="/products/?category=shorts,tops_t-shirts,sports_bra,leggings,bodysuits,shorts_women,nutrition,fitness_equipment" class="btn btn-dark rounded-3 text-uppercase" tabindex="-1" role="button" aria-disabled="true">shop now</a>
                            </div>
            </div>
</section>

{% comment %} <div class="container-fluid mb-5"> {% endcomment %}
    {% comment %} <h1 class="text-center">SHOP BY CATEGORY</h1> {% endcomment %}
    {% comment %} <div class="row"> {% endcomment %}
{% comment %}         {% endcomment %}
      {% comment %} <div class="col-6 col-md-4"> {% endcomment %}
{% comment %}         {% endcomment %}
        {% comment %} <div class="box"> {% endcomment %}
            {% comment %} <img src="https://lovefitness.s3.eu-west-2.amazonaws.com/media/nutrition.jpg" alt="" {% endcomment %}
                {% comment %} width="" /> {% endcomment %}
            {% comment %} <div class="some-text"> {% endcomment %}
                {% comment %} <h5>Welcome to Love Fitness</h5> {% endcomment %}
                {% comment %} <h2 class="secondary-heading">Nutrition</h2> {% endcomment %}
                {% comment %} <a href="/products/?category=nutrition" class="btn btn-light rounded-3 text-uppercase" tabindex="-1" role="button" aria-disabled="true">shop now</a> {% endcomment %}
            {% comment %} </div> {% endcomment %}
        {% comment %} </div> {% endcomment %}
      {% comment %} </div> {% endcomment %}
      {% comment %} <div class="col-6 col-md-4"> {% endcomment %}
        {% comment %} <div class="box"> {% endcomment %}
            {% comment %} <img src="https://lovefitness.s3.eu-west-2.amazonaws.com/media/equipment.jpg" alt="" {% endcomment %}
                {% comment %} width="" /> {% endcomment %}
            {% comment %} <div class="some-text"> {% endcomment %}
                {% comment %} <h5>Welcome to Love Fitness</h5> {% endcomment %}
                {% comment %} <h2 class="secondary-heading">Equipment</h2> {% endcomment %}
                {% comment %} <a href="/products/?category=fitness_equipment" class="btn btn-light rounded-3 text-uppercase" tabindex="-1" role="button" aria-disabled="true">shop now</a> {% endcomment %}
            {% comment %} </div> {% endcomment %}
        {% comment %} </div> {% endcomment %}
      {% comment %} </div> {% endcomment %}
      {% comment %} <div class="col-6 col-md-4"> {% endcomment %}
        {% comment %} <div class="box"> {% endcomment %}
            {% comment %} <img src="https://lovefitness.s3.eu-west-2.amazonaws.com/media/apparel.jpg" alt="" {% endcomment %}
                {% comment %} width="" /> {% endcomment %}
            {% comment %} <div class="some-text"> {% endcomment %}
                {% comment %} <h5>Welcome to Love Fitness</h5> {% endcomment %}
                {% comment %} <h2 class="secondary-heading">Apparel</h2> {% endcomment %}
                {% comment %} <a href="/products/?category=shorts,tops_t-shirts,sports_bra,leggings,bodysuits,shorts_women" class="btn btn-light rounded-3 text-uppercase" tabindex="-1" role="button" aria-disabled="true">shop now</a> {% endcomment %}
            {% comment %} </div> {% endcomment %}
        {% comment %} </div> {% endcomment %}
      {% comment %} </div> {% endcomment %}
    {% comment %} </div> {% endcomment %}
{% comment %} </div> {% endcomment %}




<div class="container-fluid">
<div class="row">
    <div class="col">
        <div class="box">
            <img src="https://lovefitness.s3.eu-west-2.amazonaws.com/media/nutrition.jpg" alt=""
                width="" />
            <div class="some-text">
                <h5>Welcome to Love Fitness</h5>
                <h2 class="secondary-heading">Nutrition</h2>
                <a href="/products/?category=nutrition" class="btn btn-light rounded-3 text-uppercase" tabindex="-1" role="button" aria-disabled="true">shop now</a>
            </div>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="box">
            <img src="https://lovefitness.s3.eu-west-2.amazonaws.com/media/nutrition.jpg" alt=""
                width="" />
            <div class="some-text">
                <h5>Welcome to Love Fitness</h5>
                <h2 class="secondary-heading">Nutrition</h2>
                <a href="/products/?category=nutrition" class="btn btn-light rounded-3 text-uppercase" tabindex="-1" role="button" aria-disabled="true">shop now</a>
            </div>
        </div>
      </div>
    </div>
    <div class="col">     <div class="box">
        <img src="https://lovefitness.s3.eu-west-2.amazonaws.com/media/nutrition.jpg" alt=""
            width="" />
        <div class="some-text">
            <h5>Welcome to Love Fitness</h5>
            <h2 class="secondary-heading">Nutrition</h2>
            <a href="/products/?category=nutrition" class="btn btn-light rounded-3 text-uppercase" tabindex="-1" role="button" aria-disabled="true">shop now</a>
        </div>
    </div>
  </div>
</div>

{% endblock %}
Postload Javascript
{% block postloadjs %}
{% endblock %}


{% extends "base.html" %}
{% load static %}
{% block page_header %}
<!--Main header block -->
<div class="container header-container"></div>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="https://lovefitness.s3.eu-west-2.amazonaws.com/static/home/css/home.css"
    type="text/css" />
{% endblock %}


{% block content %}

<section>
    <div class="container-fluid">
        <div class="row">
          <div class="col">
            <img src="https://lovefitness.s3.eu-west-2.amazonaws.com/media/exercise_test.jpg" class="img-fluid" alt="man and woman exercising" />
            <div class="cta-text">
              <div class="overlay"></div>
              <h5>Welcome to Love Fitness</h5>
              <h2>Smash all your fitness goals</h2>
              <a href="/products/?category=shorts,tops_t-shirts,sports_bra,leggings,bodysuits,shorts_women,nutrition,fitness_equipment" class="btn btn-dark rounded-3 text-uppercase" tabindex="-1" role="button" aria-disabled="true">shop now</a>
            </div>
          </div>
          <div class="col">
            <div class="box">
                <img src="https://lovefitness.s3.eu-west-2.amazonaws.com/media/nutrition.jpg" alt=""
                    width="" />
                <div class="some-text">
                    <h5>Welcome to Love Fitness</h5>
                    <h2 class="secondary-heading">Nutrition</h2>
                    <a href="/products/?category=nutrition" class="btn btn-light rounded-3 text-uppercase" tabindex="-1" role="button" aria-disabled="true">shop now</a>
                </div>
            </div>
        </div>
      </div>
    </section>
      





































{% endblock %}
Postload Javascript
{% block postloadjs %}
{% endblock %}
