{% extends "base.html" %}
{% load static %}
{% block page_header %}
<!--Main header block -->
<div class="container header-container"></div>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="https://lovefitness.s3.eu-west-2.amazonaws.com/static/home/css/home.css"
    type="text/css" />
{% endblock %}


{% block content %}

<section>
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-12">
        <img src="https://lovefitness.s3.eu-west-2.amazonaws.com/media/exercise_test.jpg" class="img-fluid" alt="man and woman exercising" />
        <div class="cta-text">
          <div class="overlay"></div>
          <h5>Welcome to Love Fitness</h5>
          <h2>Smash all your fitness goals</h2>
          <a href="/products/?category=shorts,tops_t-shirts,sports_bra,leggings,bodysuits,shorts_women,nutrition,fitness_equipment" class="btn btn-dark rounded-3 text-uppercase" tabindex="-1" role="button" aria-disaabled="true">
            shop now
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="category-section">
    <div class="row text-center">
       <h2 class="text-center secondary-heading text-uppercase mt-2">Shop By Category</h2>
       <div class="row ms-4">
        <div class="col">
          <div class="card" style="width: 25rem;">
            <img src="https://lovefitness.s3.eu-west-2.amazonaws.com/media/nutrition.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nutrition New 1</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/products/?category=nutrition" class="btn btn-light rounded-3 text-uppercase" tabindex="-1" role="button" aria-disabled="true">shop now</a>
            </div>
          </div>
        </div>
          <div class="col">
            <div class="card" style="width: 25rem;">
              <img src="https://lovefitness.s3.eu-west-2.amazonaws.com/media/equipment.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Equipment New 1</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/products/?category=nutrition" class="btn btn-light rounded-3 text-uppercase" tabindex="-1" role="button" aria-disabled="true">shop now</a>
              </div>
            </div>
          </div>     
             <div class="col">
        <div class="card" style="width: 25rem">
          <img src="https://lovefitness.s3.eu-west-2.amazonaws.com/media/apparel.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Equipment New 1</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/products/?category=nutrition" class="btn btn-light rounded-3 text-uppercase" tabindex="-1" role="button" aria-disabled="true">shop now</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 25rem;">
          <img src="https://lovefitness.s3.eu-west-2.amazonaws.com/media/equipment.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Equipment New 1</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/products/?category=nutrition" class="btn btn-light rounded-3 text-uppercase" tabindex="-1" role="button" aria-disabled="true">shop now</a>
          </div>
        </div>
      </div>     
 </section>


{% endblock %}
Postload Javascript
{% block postloadjs %}
{% endblock %}
