{% extends "base.html" %}
{% load static %}
{% block page_header %}
<!--Main header block -->
<div class="container header-container"></div>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}" type="text/css" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="column">
        <img src=" {{ MEDIA_URL }}exercise_1.jpg" alt="" class="responsive">
    </div>
    <div class="column">
        <h2 class="ml-5">Smash all your fitness goals</h2>
        <input type="submit" class="btn btn-success rounded-2 text-uppercase mt-5" value="Shop Now">
    </div>
</div>

{% endblock %}
<!-- Postload Javascript -->
{% block postloadjs %}
<!-- <script src="{% static 'home/js/carousel.js' %}"></script> -->
{% endblock %}
