[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
django = "*"
dj-database-url = "*"
django-allauth = "*"
django-crispy-forms = "*"
django-storages = "*"
psycopg2 = "*"
django-countries = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.8"
