.box {
    position: relative;
    text-align: left;
    color: white;
}

.some-text {
position: absolute;
bottom: 8px;
left: 16px;
padding-left: 5rem;

}

#cta-text {
    margin-top: 15%;
    padding-left: 5rem;
    font-family: exo;
    color: black;
}

