.box {
    position: relative;
    text-align: left;
    color: white;
}

.some-text {
    position: absolute;
    bottom: 8px;
    left: 16px;
    padding-left: 1rem;
    background: rgba(0, 0, 0, 0.5);
}

#cta-text {
    margin-top: 15%;
    padding-left: 5rem;
    font-family: exo;
    color: black;
}

.secondary-heading {
    font-family: exo;
    letter-spacing: 2px;
}