/* Image Carousel */
.delivery-info {
  background-color: #e7e9eb;
}

.carousel-text {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.delivery-info {
  height: ;
  color: #000;
}

/* .carousel { */
  /* margin-top: 50px; */
/* } */
/*  */
/* .carousel-inner { */
  /* height: 100px; */
/* } */
/*  */
/* .carousel-caption { */
  /* color: #fff; */
  /* top: 50%; */
/* } */