{% extends "base.html"%}
{% load static %}
{% block page_header %}
<div class="container hdr-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Overlay white background -->
<div class="overlay"></div>
<!-- Main Blog Detail Container -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <hr />
            <!-- Blog Page Heading -->
            <h2 class="fw-bold display-6 text-center">Blogs From Other Love Fitness Users</h2>
            <p class="fw-bold display-6 text-center">Or why not add your own blog?</p>
            <div class="col text-center">
            <a href="{% url 'add_blog' %}" class="btn btn-success btn-lg" role="button" aria-disabled="false">Add Blog</a>
        </div>
            {% for post in object_list %}
            <hr />
            <!-- Bootstrap card -->
            <div class="card text-center">
                <!-- Main card header -->
                <div class="card-header">
                    {{ post.title }}
                </div>
                <!-- Main card body -->
                <div class="card-body">
                    <h5 class="card-title">{{ post.title_tag }}</h5>
                    <p class="card-text">{{ post.body }}</p>
                    <p class="card-text">{{ post.author.first_name }} {{ post.author.last_name }}</p>
                    <!-- Edit and Delete Buttons -->
                    {% if user.is_authenticated %} {% if user.id == post.author.id %}
                    <div class="ml-3 mb-2 text-center">
                        <a class="text-secondary text-decoration-none" href="{% url 'update_blog' post.pk %}">Edit</a> |
                        <a class="text-danger text-decoration-none" data-toggle="modal" data-target="#modal-overlay" href="{% url 'delete_blog' post.pk %}">Delete</a>
                    </div>
                    <!-- Card footer displaying blog post date -->
                    <div class="card-footer text-muted">
                        {{ post.post_date }}
                    </div>
                    {% endif %} {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<br />
{% endblock %}